{% extends 'base_template.html'%}

{% block 'titulo'%}
Desafio Economia Sensata
{% endblock%}

{% block 'body' %}

<br/>

{% if status == '1' %}
    <div class="alert alert-danger" role="alert">
      E-mail ou senha inválido
    </div>
  {% endif %}
  {% if status == '2' %}
    <div class="alert alert-warning" role="alert">
      Faça login antes de acessar o sistema!
    </div>
  {% endif %}
<div class="container">
    <br/>

  <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md">
          <br>
          <h1>Login</h1>
          <hr>
          

          <form method="POST" action="{% url 'check_signin' %}" style="width: 23rem;"> {% csrf_token %}


            <div class="form-outline mb-4">
              <input type="email" id="form2Example18"   name = "email" placeholder="E-mail"  class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <input type="password"  name = "password" id="form2Example28"  placeholder="Senha" class="form-control form-control-lg" />
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-dark btn-lg btn-block" type="submit">Entrar</button>
            </div>
            <hr>
            <div class="pt-1 mb-4 ">
              <a href="/auth/register/" class="btn btn-warning btn-lg btn-block">Cadastrar</a>
            </div>
            {% comment %} <p>Não tem uma conta? <a href="/auth/register/" class="link-info">Cadastre-se</a></p> {% endcomment %}

          </form>
      </div>
      
      <div class="col-md-3">

      </div>
  </div>

</div>
{% endblock %}
