{% extends 'base_template.html'%}

{% block 'titulo'%}
{{name}}
{% endblock%}

{% block 'body' %}
<br>

<div class="container">

    {% if status == '1'%}  
    <div class="alert alert-danger" role="alert">
        Todos os campos devem ser preenchidos!
    </div>
    {%endif%}
</div>

<div class="container">

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md">
            <br>
            <h1>{{name}}</h1>
            <hr>
            <form method="POST" action="{% url 'check_form'  %}"> {% csrf_token %}
                <input type="hidden" value="{{id}}" name="id">
                {% for i in questions %}
                    <h3>{{i.name}}</h3>
                    {% for j in i.questions %}
                    <label>{{j.question}}</label>
                    <input class="form-control" type="{{i.type}}" placeholder="0% a 100%" name = "{{i.name}}">
                    <br>
                {% endfor %}
                {% endfor %}
                <input class="btn btn-success btn-lg" type="submit" value="Enviar">
                <br/>
            </form>
        </div>
    </div>

</div>
{% endblock %}
