{% extends 'base_template.html'%}

{% block 'titulo'%}
Cadastro
{% endblock%}

{% block 'body' %}
<br>

<div class="container">

        {% if status == '1'%}  
        <div class="alert alert-danger" role="alert">
              Esse email ja foi registrado!
        </div>
        {%endif%}

        {% if status == '2'%}  
        <div class="alert alert-danger" role="alert">
              Nome, telefone e email devem ser preenchidos
        </div>
        {%endif%}

        {% if status == '3'%}  
        <div class="alert alert-danger" role="alert">
              A senha deve ter pelo menos 8 caracter!
        </div>
        {%endif%}

        {% if status == '0'%}  
        <div class="alert alert-success" role="alert">
              Usuario Criado!
        </div>
        {%endif%}
</div>
<div class="container">
    
  <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md">
          <br>
          <h1>Cadastre-se</h1>
          <hr>
          <form method="POST" action="{% url 'check_register'%}"> {% csrf_token %}
              <label>Digite seu nome:</label>
              <input class="form-control" type="text" placeholder="Nome..." name = "name">
              <br>
              <label>Digite seu telefone:</label>
              <input class="form-control" type="text" placeholder="Telefone..." name = "telephone">
              <br>
              <label>Digite seu Email:</label>
              <input class="form-control" type="text" placeholder="E-mail" name = "email">
              <br>
              <label>Digite sua senha:</label>
              <input class="form-control" type="password" placeholder="Senha" name = "password">
              <br>
              <input class="btn btn-success btn-lg" type="submit" value="Enviar">
              <a href="/auth/signin" class="btn btn-info btn-lg">Logar</a>
          </form>
      </div>
      <div class="col-md-3">

      </div>
  </div>

</div>
{% endblock %}
