{% extends 'base_template.html'%}

{% block 'titulo'%}
Desafio Economia Sensata
{% endblock%}

{% block 'body' %}
<br>

<div class="container">

        {% if status == '1'%}  
        <div class="alert alert-danger" role="alert">
              Esse email ja foi registrado!
        </div>
        {%endif%}

        {% if status == '2'%}  
        <div class="alert alert-danger" role="alert">
              Nome, telefone e email devem ser preenchidos
        </div>
        {%endif%}

        {% if status == '3'%}  
        <div class="alert alert-danger" role="alert">
              A senha deve ter pelo menos 8 caracter!
        </div>
        {%endif%}

        {% if status == '0'%}  
        <div class="alert alert-success" role="alert">
              Usuario Criado!
        </div>
        {%endif%}
</div>
<div class="container">
    
  <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
          <br>
          <h1>Cadastre-se</h1>
          <hr>
          <form method="POST" action="{% url 'check_register'%}"> {% csrf_token %}
              {% comment %} <label lass="form-label" >Digite seu nome:</label> {% endcomment %}
            <div class="form-outline mb-4">
              <input class="form-control" type="text" placeholder="Nome" name = "name">
             </div>
            <div class="form-outline mb-4">
              <input class="form-control" type="text" placeholder="Telefone" name = "telephone">
            </div>
            <div class="form-outline mb-4">
              <input class="form-control" type="text" placeholder="E-mail" name = "email">
            </div>
            <div class="form-outline mb-4">
              <input class="form-control" type="password" placeholder="Senha" name = "password">
            </div>
              {% comment %} <input class="btn btn-success btn-lg" type="submit" value="Enviar">
              <a href="/auth/signin" class="btn btn-info btn-lg">Logar</a> {% endcomment %}
                 <div class="pt-1 mb-4">
              <button class="btn btn-dark btn-lg btn-block" type="submit">Cadastrar</button>
              </div>
            </div>
          </form>
      </div>      
  </div>

</div>
{% endblock %}
