{% extends 'base_template.html'%}

{% block 'titulo'%}
Desafio Economia Sensata
{% endblock%}

{% block 'body' %}
<br>

<div class="container">

    {% if status == '1'%}  
    <div class="alert alert-danger" role="alert">
        <p align="center" class="my-0 py-0" >   Todos os campos devem ser preenchidos!</p>
    </div>
    {%endif%}
    {% if status == '2'%}  
    <div class="alert alert-danger" role="alert">
        <p align="center" class="my-0 py-0" >  Nenhum campo pode exceder 40% do investimento!</p>
    </div>
    {%endif%}
    {% if status == '3'%}  
    <div class="alert alert-danger" role="alert">
        <p align="center" class="my-0 py-0" > Para investir mais de 20% em algum campo seria necessário aprovação em uma votação!</p>
    </div>
    {%endif%}
    {% if status == '4'%}  
    <div class="alert alert-danger" role="alert">
        <p align="center" class="my-0 py-0" > Você já destribuiu o orçamento desse ano!</p>
    </div>
    {%endif%}
</div>

<div class="container">

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md">
            <br>
            <h1>{{name}}</h1>
            <hr>
            <form method="POST" action="{% url 'check_form'  %}"> {% csrf_token %}
                <input type="hidden" value="{{id}}" name="id">
                {% for i in questions %}
                    <h3>{{i.name}}</h3>
                    {% for j in i.questions %}
                    <label>{{j.question}}</label>
                    <input class="form-control" type="{{j.type}}" placeholder="0% a 100%" name = "{{j.name}}">
                    <br>
                {% endfor %}
                {% endfor %}
                <input class="btn btn-success btn-lg" type="submit" value="Enviar">
                <br/>
            </form>
        </div>
    </div>

</div>
{% endblock %}
