{% extends 'base_template.html'%}

{% block 'titulo'%}
Desafio Economia Sensata
{% endblock%}

{% block 'body' %}
<br>

<div class="container">

    {% if status == '0'%}  
    <div class="alert alert-success" role="alert">
       <p align="center" class="my-0 py-0" >  Resposta salva com sucesso!</p>
    </div>
    
    {%endif%}
    {% if status == '1'%}  
    <div class="alert alert-danger" role="alert">
        <p align="center" class="my-0 py-0" > O Formulário se encontra fechado!</p>
    </div>
    {%endif%}
    {% if status == '2'%}  
    <div class="alert alert-success" role="alert">
      <p align="center" class="my-0 py-0" >   Voto computado!</p>
    </div>
    {%endif%}
    {% if status == '3'%}  
    <div class="alert alert-success" role="alert">
        <p align="center" class="my-0 py-0" > Votação criada!</p>
    </div>
    {%endif%}
    {% if status == '4'%}  
    <div class="alert alert-danger" role="alert">
        <p align="center" class="my-0 py-0" > Você já criou votação para esse ano!</p>
    </div>
    {%endif%}
    {% if status == '5'%}  
    <div class="alert alert-danger" role="alert">
        <p align="center" class="my-0 py-0" > Golpe Identificado!! Seu orçamento foi reduzido em 50% ! </p>
    </div>
    {%endif%}
    {% if status == '6'%}  
    <div class="alert alert-danger" role="alert">
        <p align="center" class="my-0 py-0" > Você ainda não tem permissão para dar golpe. Aguarde aprovação! </p>
    </div>
    {%endif%}
    {% if status == '7'%}  
    <div class="alert alert-danger" role="alert">
        <p align="center" class="my-0 py-0" > Você ainda não tem permissão para abrir votação. Aguarde aprovação! </p>
    </div>
    {%endif%}
</div>

<div class="container">

    <div class="row ">
        
        <div class="col-md-6  offset-md-3">
            <br>
            <h1>Desafio Economia Sensata</h1>
            <hr>
            <h3>Regras do desafio</h3>
            <p align="justify">O jogo é composto por diversos blocos com 3 países em cada bloco.<br>
                O mandato é composto por 4 anos.<br>
                O país é composto por 8 ministérios, sendo eles:
                </p>
            <ul>
                <li>Ministério da agricultura</li>
                <li>Ministério da educação</li>
                <li>Ministério do meio ambiente</li>
                <li>Ministério da saúde</li>
                <li>Ministério da infraestrutura</li>
                <li>Ministério do desenvolvimento</li>
                <li>Ministério da economia</li>
                <li>Banco central</li>
            </ul>

            <h5>Objetivo</h5>
                <p>Gerenciar o seu país para ter o melhor desempenho ao final do mandato</p>
            <h5>Começo do jogo</h5>
                <p align="justify">Cada país inicia o ano com um orçamento de R $1.000.000.000.000,00 (um trilhão de reais), nos anos seguintes esse orçamento vai ser determinado de acordo com o seu desempenho na rodada passada, podendo ter um adicional ou decréscimo.</p>
            <h5>Investimento</h5>
                <ul>
                    <li>Os investimentos são realizados de acordo com a porcentagem do orçamento.</li>
                    <ul>
                        <li>Exemplo: investimentos em saúde: 10% (10% do orçamento)</li>
                    </ul>
                    <li>O jogador pode investir até 40% do orçamento em cada ministério. </li>
                </ul>
            <h5>Pontuação</h5>
                <p align="justify">O sistema calcula a pontuação de cada ministério de acordo com as decisões tomadas e gera a pontuação geral do país conforme o resultado de cada ministério.</p>
            <h5>Bônus</h5>
                <p>Cada país ganha uma porcentagem de acordo com o resultado dos países do seu bloco</p>
            <h5>Votação</h5>
                <p align="justify"> Quando um país pretende gastar mais de 20% do orçamento em um ministério, será necessário a aprovação dos outros países do bloco para efetuar o investimento, caso não aceite que a votação seja iniciada o país estará aplicando um GOLPE e sofrerá punição por isso (perderá 50% do orçamento anual).</p>
            <h5></h5>
        </div>
        </div>

</div>
{% endblock %}
