{% extends 'base_template.html'%}

{% block 'titulo'%}
Desafio Economia Sensata
{% endblock%}

{% block 'body' %}
<br>

<div class="container">

    {% if status == '1'%}  
    <div class="alert alert-danger" role="alert">
        Todos os campos devem ser preenchidos!
    </div>
    {%endif%}
</div>

<div class="container">

    <div class="row ">
       
        <div class="col-md-6 offset-md-3">
            <br>
            <h1>Votações</h1>
            <hr>
                {% for i in polls %}
                    <div class="card my-4 text-center">
                            <h5 class="card-header"><strong>{{i.country}} - {{i.form}}</strong></h5>
                            <div class="card-body pb-0">
                                {%if i.owner and not i.coup and  i.active  %}
                                    <label class="mb-3 ">
                                    Você abriu votação para gastar mais de 20% de seu orçamento em algum ministério.
                                    Aguarde que todos os votos sejam computados.
                                    </label>
                                {%elif not i.owner and  i.coup  %}
                                    <label class="mb-3">
                                    O país aplicou um GOLPE e perdeu 50% do orçamento nesse ano.
                                    </label>   
                                {%elif i.owner and  i.coup  %}
                                    <label class="mb-3">
                                    Você aplicou um GOLPE e perdeu 50% do seu orçamento nesse ano.
                                    </label>
                                {%elif i.owner and not i.coup and not i.active %}
                                    <label class="mb-3">
                                    Resultado do seu pedido para gastar mais de 20% de seu orçamento em algum ministério.
                                    </label>
                                {%elif not i.coup and not i.active%}
                                    <label class="card-text mb-3 ">
                                   Resultado do pedido para gastar mais de 20% do orçamento em algum ministério.
                                    </label>
                                {%elif not i.coup and i.active%}
                                    <label class="card-text mb-3 ">
                                    Deseja investir mais de 20% de seu orçamento em um ministério, o que você acha disso?
                                    </label>
                                {% endif%}
                                <br>
                                <div class="row justify-content-center">
                                {% if i.can_vote %}
                                    <div class="col-4">
                                        <form  method="POST" action="{% url 'check_poll' %}"> {% csrf_token %}
                                            <input type="hidden" value="{{i.poll_id}}" name="poll_id">
                                            <input type="hidden" value="1" name="choice">
                                            <input class="btn btn-success btn-sm" type="submit" value="Aceitar" name="aceitar">
                                        </form>
                                    </div>
                                    <div class="col-4">
                                        <form  method="POST" action="{% url 'check_poll' %}"> {% csrf_token %}
                                            <input type="hidden" value="{{i.poll_id}}" name="poll_id">
                                            <input type="hidden" value="0" name="choice">
                                            <input class="btn btn-danger btn-sm" type="submit" value="Negar" name="negar">
                                        </form>
                                    </div>
                                {% else %}
                                        <div class="col-4 mb-0 pb-0">
                                           {%if i.coup%}
                                                <h3><span class="badge badge-danger">Golpe</span></h3>
                                            {% elif i.active and not i.coup %}
                                                <h3><span class="badge badge-info">Em Votação!</span></h3>
                                            {% elif i.result is True %}
                                                <h3><span class="badge badge-success">Aprovado!</span></h3>
                                            {% elif i.result is False %}
                                                <h3><span class="badge badge-danger">Negado!</span></h3>
                                            {% endif %}
                                        </div>
                                {% endif %}
                                    </div>

                                <br/>
                            </div>
                    </div>
                {% endfor %}
        </div>  
         
        <div class="col-md-6 my-5 offset-md-3">         
            <h1>Criar votação</h1>
            <hr>
            <form  method="POST" action="{% url 'create_poll' %}"> {% csrf_token %}
                <label for="fname">Escolha o ano que deseja criar a votação para teto de gastos:</label><br><br>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <select name="form_name" class="form-control" aria-label="Default select example">
                            {% for i in forms %}
                                <option value={{i.value}}>{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info mt-3" name="criar" value=1 type="submit" style="width:100%">Criar</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger mt-3" name="golpe" value=1 type="submit" style="width:100%">  Dar golpe</button>
                    </div>

                </div>
              
            </form>
        </div>
    </div>

</div>

{% endblock %}
